@import "~shared/style/colors";
@import "~shared/style/spacing";

.error-cell {
    display: flex;
    .error-icon {
        fill: $PRIMARY_TEXT_COLOR;
    }
    .error-text {
        color: $PRIMARY_TEXT_COLOR;
    }
    > :nth-child(n){
        vertical-align: middle;
    }
    > :nth-child(2) {
        padding-left: $SPACE_1;
    }
    > :nth-child(3) {
        padding-left: $SPACE_3;
    }
}