@import "~shared/style/colors";

.transaction-type-parent-container {
    display: flex;
    flex-direction: row;
    align-items: center;

    .transaction-type {
        padding-right: 8px;
    }

    .info-icon {
        padding-top: 4px;
        fill: $MID_FORGROUND_COLOR;
    }
}