@import "~shared/style/colors";
@import "~shared/style/fonts";
@import "~shared/style/mixins";
@import "~shared/style/variables";

.button-primary {
    height: $BUTTON_HEIGHT;
    width: $BUTTON_WIDTH;
    outline: transparent;
    background-color: $PRIMARY_COLOR;
    font-size: $GENERAL_FONT_SIZE;
    color: $LIGHTEST_FORGROUND_COLOR;
    border: $PRIMARY_COLOR;

    &:hover {
        background-color: $PRIMARY_HOVER_COLOR;
    }

    &:active, &:focus {
        @include buttonOnFocus;
    }
}

.button-secondary {
    height: $BUTTON_HEIGHT;
    width: $BUTTON_WIDTH;
    outline: transparent;
    background-color: $LIGHTEST_FORGROUND_COLOR;
    font-size: $GENERAL_FONT_SIZE;
    color: $PRIMARY_COLOR;
    border: hidden;
    box-shadow: 0px 0px 0px $HOVER_BORDER_WIDTH $PRIMARY_COLOR inset;

    &:hover {
        box-shadow: 0px 0px 0px $HOVER_BORDER_WIDTH $PRIMARY_COLOR inset;
        background-color: $SECONDARY_HOVER_COLOR;
    }
    
    &:active, &:focus {
        @include buttonOnFocus;
    }
}