<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
	<head>
		<link
			href="https://fonts.googleapis.com/css?family=Roboto"
			rel="stylesheet"
		/>
		<link rel="stylesheet" th:href="@{{base}/resources/css/CardPayment.css(base=${base})}"/>
	</head>
	<body class="main-page">
		<div class="card-payment-main margin-bottom-large">
			<div class="title margin-bottom-large">
				<div class="pay-for-a-government margin-bottom-large">
					Pay for a government service
				</div>
			</div>
			<div class="flex-row margin-bottom-large">
				<div class="heading-main">Payment confirmation</div>
				<div class="pagenumber margin-left-small">(2 of 3)</div>
			</div>
			<div class="margin-bottom-large">
				<div class="heading-main">Summary</div>
			</div>
			<div class="confirmation-box margin-bottom-xlarge">
				<div class="about-to-make-payment">
					You are about to make a payment for:
				</div>
				<div class="bold-title margin-left-xsmall">Total</div>
				<div class="heading-main margin-bottom-large" th:text="${amount}" >£34.00</div>
				<div class="bold-title margin-left-xsmall">Reference</div>
				<div class="heading-main margin-bottom-large" th:text="${reference}">Fee</div>
			</div>

			<div class= "flex-row margin-bottom-large">
				<form th:action="@{{base}/cardpayments/{id}/submit(id=${id},base=${base})}" method="post">
					<button class="button" type="submit">Confirm</button>
				</form>
				<form th:action="@{{base}/cardpayments/{id}/cancel(id=${id},base=${base})}" method="post">
					<button class="input-left-margin cancel" type="submit" th:formaction="@{{base}/cardpayments/{id}/cancel(id=${id},base=${base})}" formnovalidate>Cancel</button>
				</form>
			</div>
		</div>

		<div class="footer flex-row margin-left-xlarge">
			<div class="footer-link margin-left-large">About</div>
			<div class="footer-link margin-left-large">Cookies</div>
			<div class="footer-link margin-left-large">Privacy</div>
		</div>
	</body>
</html>
