<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" >
<head>
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link rel="stylesheet" th:href="@{{base}/resources/css/CardPayment.css(base=${base})}"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script th:src="@{{base}/resources/js/validation.js(base=${base})}" ></script>
</head>
<body class="main-page">
        <form class="card-payment-main margin-bottom-large" th:action="@{{base}/cardpayments/{id}/authorize(id=${id},base=${base})}" th:object="${request}" method="post">
                <div class="title margin-bottom-large">
                   <div class="pay-for-a-government margin-bottom-large">Pay for a government service</div>
                </div>

                <div class = "flex-row margin-bottom-large">
                    <div class="heading-main" >Enter card details</div>
                    <div class="pagenumber  margin-left-small">(1 of 3)</div>
                </div>
                <div class="margin-bottom-large">
                        <div class="heading3 margin-bottom-medium">Card Number</div>
                        <!-- Set via HTML -->
                        <input class="cardinput margin-bottom-small" onKeyPress="formatCardNumber(event)" th:field="*{cardNumber}" id="cc" type="text"
                               pattern="(\d{4} \d{4} \d{4} \d{4})"  required/>

                        <div>
                                <img class="logos" th:src="@{{base}/resources/images/multicard-logo.jpg(base=${base})}" />

                        </div>
                        
                        <div class="bodytext">Accepted credit and debit card types </div> 
                </div>
                   
                <div class="margin-bottom-large" >
                        <div class="heading3 margin-bottom-medium">Expiry date</div>
                        <div class="bodytext margin-bottom-medium">For example, 07/20</div>
                        <div class = "month-row margin-bottom-small">
                                <div class="bodytext month-right-margin">Month</div>
                                <div class="bodytext">Year</div>
                        </div>
                        <div class = "flex-row">
                                <input  class="dateinput" th:field="*{month}" id="month" type="number" min="01" max="12" placeholder="MM"
                                        maxlength=2 pattern="(1[0-2]|0[1-9])" data-valid-example="05" required/>
                                <div class="slash input-left-margin">/</div>
                                <input  class="dateinput input-left-margin" th:field="*{year}" type="number" min="19" max="99" id="year"
                                        maxlength=2 pattern="(1[5-9]|2\d)" placeholder="YY"  data-valid-example="19" required/>
                        </div>
                </div>
                <div class="margin-bottom-large">
                        <div class="heading3 margin-bottom-medium">Name on card</div>
                        <!-- Set via HTML -->
                        <input class="cardinput"  th:field="*{name}" id="name" type="text" required />
                </div>
                <div class="margin-bottom-large" >
                        <div class="heading3 margin-bottom-medium">Card security code</div>
                        <div class="bodytext margin-bottom-small">The last 3 digits on the back of the card</div>
                        <div class ="flex-row">
                                <input class="cvvinput"  maxlength=3 onKeyPress="formatCVV(event)" th:field="*{cvv}" id="cvv" type="password"  required />
                                <img class="logos subtitle-left-margin" th:src="@{{base}/resources/images/cvc_card.jpg(base=${base})}" />
                        </div>


                </div>
                <div class= "flex-row margin-bottom-large">
                        <button class = "button" type="submit" value="Submit" >Pay Now</button>


                        <button class="input-left-margin cancel" type="submit" th:formaction="@{{base}/cardpayments/{id}/cancel(id=${id},base=${base})}" formnovalidate>Cancel</button>
                        <!--<div class = "input-left-margin cancel" th:href="@{/cancel}" >Cancel</div>-->
                </div>
        </form>

     
        


        <div class="footer flex-row margin-left-xlarge">
                <div class="footer-link margin-left-large">About</div>
                <div class="footer-link margin-left-large">Cookies</div>
                <div class="footer-link margin-left-large">Privacy</div>
        </div>

</body>
</html>