@import "~shared/style/mixins";
@import "~shared/style/colors";

.paging-options-parent-container {
    width: fit-content;
    height: inherit;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    .paging-options-buttons {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 70px;
        padding-left: 10px;
        padding-top: 2px;

        hr.vertical-line:not(:last-child) {
            height: 20px;
            width: 0;
            border: thin solid $SECONDARY_TEXT_COLOR;
        }
    }
}