@import "~shared/style/mixins";
@import "~shared/style/colors";

$PILL_HEIGHT: 38px;
$PILL_MARGIN_SIDE: 10px;
$PILL_MARGIN_LEFT_CONTENT: 16px;
$PILL_BORDER_WIDTH: 2px;
$PILL_BORDER_RADIUS: 10px;

.pill-parent-container {
    position: relative;
    height: $PILL_HEIGHT;
    display: flex;
    align-items: center;
    border-radius: $PILL_BORDER_RADIUS;
    margin-left: $PILL_MARGIN_SIDE;
    box-shadow: 0px 0px 0px $PILL_BORDER_WIDTH $MID_FORGROUND_COLOR inset;
    border: $PILL_BORDER_WIDTH solid transparent;

    .content {
        @include generalFont;
        margin-left: $PILL_MARGIN_LEFT_CONTENT;
    }

    .svg-button {
        height: 24px;
        width: 24px;
        margin-bottom: 2px;
        border: none;
        background-color: transparent;
        outline: transparent;
        margin-left: $PILL_MARGIN_SIDE;
        margin-right: $PILL_MARGIN_SIDE; 
    }

    &:active {
        box-shadow: 0px 0px 0px 4px $PRIMARY_TEXT_COLOR inset;
        border: $PILL_BORDER_WIDTH solid $FOCUS_COLOR;
    }
}