@import "~shared/style/mixins";
@import "~shared/style/spacing";

$TITLE_WIDTH: 100px;

.filter-row-parent-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: $SPACE_1;

    .filter-row-title {
        @include dataTableColHeader;
        width: $TITLE_WIDTH;
    }   
}