@import "~shared/style/mixins";
@import "~shared/style/variables";

$TITLE_HORIZONTAL_PADDING: 20px;
$TRANSACTIONS_MARGIN_BOTTOM: 58px;

.transaction-parent-container {
    height: 100%;
    padding-left: $SIDE_MARGIN_MAIN_CONTENT;
    padding-right: $SIDE_MARGIN_MAIN_CONTENT;
    display: flex;
    flex-direction: column;

    .transaction-page-title {
        @include pageTitle;
        padding-top: $TITLE_HORIZONTAL_PADDING;
        padding-bottom: $TITLE_HORIZONTAL_PADDING;
    }

    .transaction-page-result-number-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 5px;
        padding-bottom: 15px;

        .transaction-page-result-number {
            @include dataTableResultNumber;
        }
    }

    .transaction-page-table {
        height: fit-content;
        margin-bottom: $TRANSACTIONS_MARGIN_BOTTOM;
        
        .no-result {
            @include dataTableResultNumber;
        }
    }
}