@import "~shared/style/colors";
@import "~shared/style/fonts";
@import "~shared/style/mixins";
@import "~shared/style/variables";

$TEXTFIELD_HEIGHT: 45px;
$TEXTFIELD_WIDTH: 150px;
$TEXTFIELD_INNER_BORDER_DEFAULT: 2px;
$TEXTFIELD_INNER_BORDER_FOCUSED: 4px;
$TEXTFIELD_FOCUS_BORDER: 3px;
$TEXTFIELD_PADDING_LEFT: 14px;
$TEXTFIELD_PADDING_RIGHT: 40px;
$CROSS_MARGIN_TOP: 15px;

.textfield-parent-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    .visible-label {
        float: left;
        margin-left: $TEXTFIELD_INNER_BORDER_FOCUSED; 
        font-size: $DATA_TABLE_COL_HEADER_FONT_SIZE;
        color: $PRIMARY_TEXT_COLOR;
    }
    
    .hidden-label {
        @include hideContent;
    }
    
    .input-and-icon {
        position: relative;
        

        .text-input {
            box-shadow: 0px 0px 0px $TEXTFIELD_INNER_BORDER_DEFAULT $PRIMARY_TEXT_COLOR inset;
            height: $TEXTFIELD_HEIGHT;
            width: $TEXTFIELD_WIDTH;
            border: $TEXTFIELD_FOCUS_BORDER solid transparent;
            outline: none;
            padding-left: $TEXTFIELD_PADDING_LEFT;
            padding-right: $TEXTFIELD_PADDING_RIGHT;
            
        
            ::placeholder {
                color: $SECONDARY_TEXT_COLOR;
                font-size: $DATA_TABLE_COL_HEADER_FONT_SIZE;
            }
        
            &:focus {
                box-shadow:0px 0px 0px $FOCUS_BORDER_WIDTH $PRIMARY_TEXT_COLOR inset;
                border: $TEXTFIELD_FOCUS_BORDER solid $FOCUS_COLOR;
            }
        }
    
        .svg-button {
            position: absolute;
            background-color: $LIGHTEST_FORGROUND_COLOR;
            width: 20px;
            height: 20px;
            border: none;
            outline: none;
            margin-left: -$TEXTFIELD_PADDING_RIGHT;
            margin-top: $CROSS_MARGIN_TOP;

            svg {
                fill: $MID_FORGROUND_COLOR;
            }
        }
    }
    
}
