<html xmlns:th="http://www.w3.org/1999/xhtml" th:replace="layout::main(~{::body/div}, ~{::head/style}, ~{::head/script})">
<head>
    <style>
        .funkyradio div {
            clear: both;
            overflow: hidden;
        }

        .funkyradio label {
            width: 100%;
            border-radius: 3px;
            border: 1px solid #D1D3D4;
            font-weight: normal;
        }

        .funkyradio input[type="radio"]:empty {
            display: none;
        }

        .funkyradio input[type="radio"]:empty ~ label {
            position: relative;
            line-height: 2.5em;
            text-indent: 3.25em;
            margin-top: 1em;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        .funkyradio input[type="radio"]:empty ~ label:before {
            position: absolute;
            display: block;
            top: 0;
            bottom: 0;
            left: 0;
            content: '';
            width: 2.5em;
            background: #D1D3D4;
            border-radius: 3px 0 0 3px;
        }

        .funkyradio input[type="radio"]:hover:not(:checked) ~ label {
            color: #888;
        }

        .funkyradio input[type="radio"]:hover:not(:checked) ~ label:before {
            content: '\2714';
            text-indent: .9em;
            color: #C2C2C2;
        }

        .funkyradio input[type="radio"]:checked ~ label {
            color: #777;
        }

        .funkyradio input[type="radio"]:checked ~ label:before {
            content: '\2714';
            text-indent: .9em;
            color: #333;
            background-color: #ccc;
        }

        .funkyradio input[type="radio"]:focus ~ label:before {
            box-shadow: 0 0 0 3px #999;
        }

        .funkyradio-middle input[type="radio"]:checked ~ label:before {
            color: #fff;
            background-color: #337ab7;
        }

        .funkyradio-first input[type="radio"]:checked ~ label:before {
            color: #fff;
            background-color: #5cb85c;
        }

        .funkyradio-last input[type="radio"]:checked ~ label:before {
            color: #fff;
            background-color: #f0ad4e;
        }

        .header {
            margin-top:80px;
            margin-bottom: 30px;
        }

        button.pay {
            margin-top: 25px;
        }


    </style>

    <script type="text/JavaScript">
        $(function () {
            $("input[name='license']").click(function() {
                $("button.pay").prop("disabled", !$("input[name='license']:checked").length);
            });
        });

    </script>
</head>
<body>
<div class="col-md-3"></div>
<div class="col-md-6">
    <h4 class="header">Choose your fishing license</h4>
    <form th:action="@{/fishing/buy}" method="post">
        <div class="funkyradio">
            <div class="funkyradio-middle" th:each="permit: ${permits}"
                 th:class="${permitStat.first}? 'funkyradio-first' : (${permitStat.even}? 'funkyradio-last' : _)"
            >
                <input type="radio"
                       name="license" th:value="${permit.id().value()}"
                       id="radio1" th:id="|radio${permitStat.index}|"/>
                <label for="radio1" th:for="|radio${permitStat.index}|"
                       th:text="|${permit.description()} - ${permit.amount()}|">First Option default</label>
            </div>
        </div>
        <button type="submit" class="btn btn-success btn-lg btn-block pay" role="button" disabled>Continue to Pay
        </button>
    </form>
</div>
</body>
</html>