<html xmlns:th="http://www.w3.org/1999/xhtml" th:replace="layout::purchase(~{::body/div}, ~{::head/style})">
<head>
    <style>
        div.details {
            margin-top: 30px;
            font-size: large;
        }

        .date-box {
            font-weight: bold;
        }
    </style>
</head>
<body>
<div>
    <h2>You've successfully purchased your fishing license.</h2>
    <div class="details">
        Please note that your license expires on <span class="date-box" th:text="${purchase.validUntilStaringFromNow()}">1/1/1970</span>
    </div>
</div>
</body>
</html>