<html xmlns:th="http://www.thymeleaf.org" th:fragment="main(content, style, code)">
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">

    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

    <th:block th:replace="${style}"/>

    <th:block th:replace="${code}"/>

</head>
<body>
<div class="container">
    <div class="row" th:insert="${content}">
    </div>
</div>
</body>
</html>


<html xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="purchase(message, style)">
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">

    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

    <style>
        div.content {
            margin-top: 80px;
        }

        div.actions {
            margin-top:40px;
        }

        div.actions a.btn {
            margin: 0 5px 0 10px;
        }
    </style>

    <th:block th:replace="${style}"/>

</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12 content">
            <h1>Congratulations!</h1>
            <th:block th:replace="${message}" />
            <div class="actions">
                <a href="/" th:href="@{'/'}" class="btn btn-primary btn-lg">Continue</a>
                <a href="/" th:href="@{/logout}" class="btn btn-default btn-lg">Leave Now</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>