<html xmlns:th="http://www.thymeleaf.org" th:replace="layout::main(~{::body/div}, ~{::head/style}, ~{::head/script})">
<head>
    <style>
        .header {
            margin-top:80px;
            margin-bottom: 30px;
        }

        button.pay {
            margin-top: 25px;
        }

    </style>

    <script type="text/JavaScript">
        $(function () {
            $("input[name='ticket']").click(function() {
                $("button.pay").prop("disabled", !$("input[name='ticket']:checked").length);
            });
        });
    </script>
</head>
<body>
    <div class="col-md-2"></div>
    <div class="col-md-8" th:if="${tickets.isEmpty()}">
        <h2 class="header">You don't have any unpaid parking tickets!!!</h2>
    </div>
    <div class="col-md-8" th:if="${not tickets.isEmpty()}">
        <h2 class="header">You have the following parking tickets unpaid</h2>
        <form method="post" th:action="@{/parking/buy}">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Description</th>
                        <th>Amount</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="ticket: ${tickets}">
                        <td th:text="${#dates.format(ticket.date(), 'dd MMM yyyy')}">Date</td>
                        <td th:text="${ticket.description()}">Description</td>
                        <td th:text="${formatter.print(ticket.amount())}">Amount</td>
                        <td>
                            <input type="checkbox" name="ticket" th:value="${ticket.id().value()}"/>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button type="submit" class="btn btn-success btn-lg btn-block pay" role="button" disabled>Continue to Pay
            </button>
        </form>
    </div>
</body>
</html>