<html xmlns:th="http://www.w3.org/1999/xhtml" th:replace="layout::purchase(~{::body/div}, ~{::head/style})">
<head>
    <style>
        div.details {
            margin-top: 30px;
            font-size: large;
        }

        .count-box {
            font-weight: bold;
        }
    </style>
</head>
<body>
<div>
    <h2>You've successfully paid your parking ticket(s).</h2>
    <div class="details" th:if="${not tickets.isEmpty()}">
        Please note that you still have <span class="count-box" th:text="${tickets.size()}">1</span>
        unpaid ticket(s).
    </div>
</div>
</body>
</html>