$PAGING_CONTAINER_HEIGHT: 64px;

.paging-parent-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: $PAGING_CONTAINER_HEIGHT;
    width: 100%;
}