@import "~shared/style/colors";
@import "~shared/style/fonts";
@import "~shared/style/variables";
@import "~shared/style/mixins";

$TABS_HEIGHT: 42px;
$SINGLE_TAB_PADDING_SIDES: 14px;
$TABS_PADDING_LEFT: (50px - $SINGLE_TAB_PADDING_SIDES);

.tabs-parent-container {
    height: $TABS_HEIGHT;
    border-bottom: 1px solid $LIGHT_FORGROUND_COLOR;
    display: flex;
    flex-direction: row;
    padding-left: $TABS_PADDING_LEFT;
    font-family: $REGULAR_FONT;
    font-size: $GENERAL_FONT_SIZE;

    .single-tab {
        padding-top: 10px;
        padding-left: $SINGLE_TAB_PADDING_SIDES;
        padding-right: $SINGLE_TAB_PADDING_SIDES;
        text-decoration: none;
        color: $PRIMARY_TEXT_COLOR;
        
        &:focus {
            outline: transparent;
            box-shadow:0px 0px 0px $FOCUS_BORDER_WIDTH $FOCUS_COLOR inset;
        }

        &:hover {
            color: $PRIMARY_HOVER_COLOR;
            background-color: $LIGHTER_FORGROUND_COLOR;

            .text-tab {
                @include text-tab-underline;
            }
        }
    }

    .active {
        color: $PRIMARY_TEXT_COLOR;
        background-color: $SECONDARY_HOVER_COLOR;

        &:hover {
            color: $PRIMARY_HOVER_COLOR;
            background-color: $SECONDARY_HOVER_COLOR;
        }

        .text-tab {
            @include text-tab-underline;
        }
    }
}