@import "~shared/style/mixins";

$TABLE_HEADER_HEIGHT: 58px;

.custom-header-parent-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    border: none;
    background-color: transparent;
    @include dataTableColHeader;
    height: $TABLE_HEADER_HEIGHT;

    .svg-styling {
        margin-top: 2px;
    }
}