@import "~shared/style/colors";
@import "~shared/style/mixins";
@import "~shared/style/variables";

$ROW_ACTION_BUTTON_HEIGHT: 44px;
$ROW_ACTION_BUTTON_WIDTH: 44px;

.row-action-button {
    height: $ROW_ACTION_BUTTON_HEIGHT;
    width: $ROW_ACTION_BUTTON_WIDTH;
}

.row-action-button-default {
    border: transparent;
    background-color: $LIGHTEST_FORGROUND_COLOR;

    svg {
        fill: $PRIMARY_COLOR;
    }

    &:hover {
        box-shadow: 0px 0px 0px $HOVER_BORDER_WIDTH $PRIMARY_COLOR inset;

        svg {
            fill: $PRIMARY_COLOR
        }
    }

    &:active, &:focus {
        @include buttonOnFocus;

        svg {
            fill: $PRIMARY_TEXT_COLOR;
        }
    }
}

.row-action-button-selected {
    border: transparent;
    box-shadow: 0px 0px 0px $HOVER_BORDER_WIDTH $PRIMARY_HOVER_COLOR inset;
    background-color: $SECONDARY_HOVER_COLOR;
    
    svg {
        fill: $PRIMARY_HOVER_COLOR;
    }

    &:active, &:focus {
        @include buttonOnFocus;

        svg {
            fill: $PRIMARY_TEXT_COLOR;
        }
    }
}

