@import "~shared/style/mixins";

.sandbox-parent-container {
    text-align: center;

    .page-title {
        @include pageTitle;
    }

    .header {
        @include headers;
    }

    .data-table-result-number {
        @include dataTableResultNumber;
    }

    .data-table-col-header {
        @include dataTableColHeader;
    }

    .general-font {
        @include generalFont;
    }

    .button-container, .secondary-buttons, .text-buttons, .textfields, .pagination, .loader-buttons, .status-label {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
}
