@import "~shared/style/colors";
@import "~shared/style/fonts";
@import "~shared/style/mixins";
@import "~shared/style/spacing";

$PADDING_LEFT: 5px;

.ag-theme-balham {
    width: 100%;
    height: auto;
    outline: transparent;
    color: $PRIMARY_TEXT_COLOR;

    .ag-header-viewport {
        border-style: solid none solid none;
        border-width: 1px 0px 1px 0px;
        border-color: $SECONDARY_TEXT_COLOR;
        background-color: $LIGHTEST_FORGROUND_COLOR;
        @include dataTableColHeader;
    }

    .ag-header-cell {
        padding-left: $PADDING_LEFT;
        padding-right: $SPACE_5;
    }

    .ag-root, .ag-header, .ag-header-cell::after, .ag-layout-normal {
        border: none;
    }

    .ag-row-odd {
        background-color: $LIGHTEST_FORGROUND_COLOR;
    }

    .ag-row {
        @include generalFont;
        border-color: $LIGHT_FORGROUND_COLOR;
        padding-right: $SPACE_5;

        &:hover {
            background-color: $LIGHT_FORGROUND_COLOR;
        }

        .ag-cell {
            display: flex;
            align-items: center;
            padding-left: $PADDING_LEFT;
            padding-right: $SPACE_5;
        }
    }

    .ag-paging-panel {
        border: none;
    }

}

