.pay-for-a-government {
	height: 30px;
	width: 359px;
	color: #333333;
	font-family: Roboto;
	font-size: 26px;
	font-weight: bold;
	letter-spacing: 0.7px;
	line-height: 30px;
	margin-bottom: 29px;
}
.title {
	border-bottom: 1px solid #b9b7b7;
}
.heading-main {
	height: 35px;
	color: #0065bd;
	font-family: Roboto;
	font-size: 26px;
	font-weight: bold;
	line-height: 35px;
}
.pagenumber {
	height: 21px;
	width: 59px;
	color: #0065bd;
	font-family: Roboto;
	font-size: 18px;
	font-weight: bold;
	line-height: 21px;
}
.heading3 {
	height: 21px;
	width: 160px;
	color: #0065bd;
	font-family: Roboto;
	font-size: 18px;
	font-weight: bold;
	line-height: 21px;
}
.cardinput {
	height: 56px;
	width: 443px;
	border: 1px solid #727270;
	background-color: #ffffff;

	padding: 6px 14px;
	box-sizing: border-box;
	font-size: 18px;
	letter-spacing: 0.5px;
	line-height: 36px;
	font-family: Roboto;
}

.cvvinput {
	height: 56px;
	width: 195px;
	border: 1px solid #727270;
	background-color: #ffffff;

	padding: 6px 14px;
	box-sizing: border-box;
	font-size: 18px;
	letter-spacing: 0.5px;
	line-height: 36px;
	font-family: Roboto;
}
.dateinput {
	height: 56px;
	width: 100px;
	border: 1px solid #727270;
	background-color: #ffffff;

	padding: 6px 14px;
	box-sizing: border-box;
	font-size: 18px;
	letter-spacing: 0.5px;
	line-height: 36px;
	font-family: Roboto;
}
.visa-logo {
	height: 25px;
	width: 39px;
}
.mastercard-logo {
	height: 25px;
	width: 30px;
}
.american-express-logo- {
	height: 25px;
	width: 54.99px;
}
.bodytext {
	height: 21px;
	color: #333333;
	font-family: Roboto;
	font-size: 18px;
	line-height: 21px;
}
.error-color {
	color: red !important;
}

.button {
	height: 56px;
	width: 175px;
	background-color: #1465bc;
	color: #ffffff;
	font-family: Roboto;
	font-size: 18px;
	font-weight: bold;
	line-height: 21px;
	text-align: center;
	cursor: pointer;
}
.cancel {
    background:none!important;
	border:none;
	height: 21px;
	width: 70px;
	color: #0065bd;
	font-family: Roboto;
	font-size: 18px;
	line-height: 21px;
	text-decoration: underline;
	cursor: pointer;
}
.slash {
	height: 35px;
	width: 13px;
	color: #727270;
	font-family: Roboto;
	font-size: 30px;
	line-height: 35px;
}
.flex-row {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
}
.month-row {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.footer {
	min-height: 160px;
	width: 100%;
	background-color: #0e51cb;
	margin-top: auto;
	align-self: flex-end;
}
.footer-link {
	height: 25px;
	width: 84px;
	color: #ffffff;
	font-family: Roboto;
	font-size: 22px;
	font-weight: bold;
	letter-spacing: 0.7px;
	line-height: 25px;
	text-decoration: underline;
}

.card-payment-main {
	height: 100%;
	padding-top: 30px;
	padding-left: 147px;
	padding-right: 147px;
}

.about-to-make-payment {
	height: 35px;
	width: 357px;
	color: #333333;
	font-family: Roboto;
	font-size: 21px;
	line-height: 35px;
}

.error-message {
	color: rgba(48, 48, 48, 0.97);
	font-family: Roboto;
	font-size: 31px;
	font-weight: bold;
	line-height: 56px;
}

.successful-payment {
	color: rgba(48, 48, 48, 0.97);
	font-family: Roboto;
	font-size: 49px;
	font-weight: bold;
	line-height: 56px;
}

.bold-title {
	height: 35px;
	width: 48px;
	color: #333333;
	font-family: Roboto;
	font-size: 21px;
	font-weight: bold;
	line-height: 35px;
}
.confirmation-box {
	height: 280px;
	width: 436px;
	border: 2px solid #1465bd;
	padding-left: 33px;
	padding-top: 23px;
}

.logos {
	height: 50px;
}

.main-page {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.margin-left-xlarge {
	margin-left: 151px;
}

.margin-left-large {
	margin-left: 82px;
}
.margin-left-small {
	margin-left: 16px;
}

.margin-bottom-large {
	margin-bottom: 24px;
}

.margin-bottom-xlarge {
	margin-bottom: 71px;
}

.margin-top-xlarge {
	margin-top: 120px;
}

.padding-top-large {
	padding-top: 70px;
}

.padding-top-xlarge {
	padding-top: 120px;
}

.margin-bottom-medium {
	margin-bottom: 12px;
}
.margin-bottom-small {
	margin-bottom: 7px;
}
.subtitle-left-margin {
	margin-left: 4px;
}
.input-left-margin {
	margin-left: 12px;
}
.month-right-margin {
	margin-right: 120px;
}
.month-align {
	margin-left: 30px;
}
.logos {
	height: 50px;
}

html {
	min-height: 950px;
	height: 100%;
}

body {
	min-height: 100%;
	margin: 0;
	padding: 0;
}
