@import "~shared/style/mixins";

$WARN_COLOR: #FEF4E2;
$OK_COLOR: #E9F9EA;
$ERROR_COLOR: #FFE5E4;
$CANCEL_COLOR:#EBEBEB;

$CONTAINER_HEIGHT: 36px;

.status-label-main-container {
    @include generalFont;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: $CONTAINER_HEIGHT;
    width: fit-content;
    padding: 0px 20px 0px 9px;
    
    /*-- STATUS BORDER FOR ALL BROWSER */
    border-radius: 50px 50px 50px 50px; 
    -moz-border-radius: 50px 50px 50px 50px; 
    -webkit-border-radius: 50px 50px 50px 50px;
    -ms-border-radius: 50px 50px 50px 50px;

    &.status-ok {
        background-color: $OK_COLOR;
    }

    &.status-warn {
        background-color: $WARN_COLOR;
    }

    &.status-error {
        background-color: $ERROR_COLOR;
    }

    &.status-cancel {
        background-color: $CANCEL_COLOR;
    }

    .status-text {
        margin-left: 8px;
    }
}