@import "~shared/style/colors";
@import "~shared/style/fonts";
@import "~shared/style/mixins";
@import "~shared/style/variables";

$TEXT_BUTTON_CONTAINER_HEIGHT: 28px;
$LENGTH_BETWEEN_ICON_AND_BUTTON: 6px;

.text-button-parent-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: fit-content;

    .text-button {
        @include generalFont;
        color: $PRIMARY_COLOR;
        text-decoration: underline;
        line-height: $TEXT_BUTTON_CONTAINER_HEIGHT - $FOCUS_BORDER_WIDTH;
        height: $TEXT_BUTTON_CONTAINER_HEIGHT;
        outline: transparent;
        border: transparent;
        background-color: transparent;
        cursor: pointer;
        padding-left: 0px;
        padding-right: 0px;

        .with-icon {
            margin-left: $LENGTH_BETWEEN_ICON_AND_BUTTON;
        }

        &:hover {
            color: $PRIMARY_HOVER_COLOR;
        }
    
        &:active, &:focus {
            @include buttonOnFocus;
            text-decoration: none;
        }        
    }
}